<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ac.kr.kookmin.petdiary">

    <!-- 권한 설정  -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetDiary"

        tools:targetApi="31"
        android:requestLegacyExternalStorage="true"

        >
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@drawable/border" />


        <activity
            android:name=".NotiActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up" />
        <activity
            android:name=".LoginActivity"
            android:label="Login" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".SettingActivity"
            android:label="Setting" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="Change Password" />
        <activity
            android:name=".ServiceContentsActivity"
            android:label="Service" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:label="Privacy Policy" />
        <activity
            android:name=".WritingActivity"
            android:label="Writing"/>
        <activity
            android:name=".Profile_OthersActivity"
            android:label="Profile_Others"/>
        <activity android:name=".Profile_EditActivity" android:label="Profile_Edit"/>

        <activity android:name=".calendarActivity" android:label="calendar"/>

    </application>

</manifest>